<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Projet-TSI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>./Films/AfficherFilm.jsp</welcome-file>
    <welcome-file>./WEB-INF/AfficherFilm.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindFilm</display-name>
    <servlet-name>FindFilm</servlet-name>
    <servlet-class>com.films.servlets.FindFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindFilm</servlet-name>
    <url-pattern>/Film/FindFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindActor</display-name>
    <servlet-name>FindActor</servlet-name>
    <servlet-class>com.films.servlets.FindActor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindActor</servlet-name>
    <url-pattern>/Acteur/FindActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindRealisator</display-name>
    <servlet-name>FindRealisator</servlet-name>
    <servlet-class>com.films.servlets.FindRealisator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindRealisator</servlet-name>
    <url-pattern>/Realisateur/FindRealisator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateActor</display-name>
    <servlet-name>CreateActor</servlet-name>
    <servlet-class>com.films.servlets.CreateActor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateActor</servlet-name>
    <url-pattern>/Acteur/CreateActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRealisator</display-name>
    <servlet-name>CreateRealisator</servlet-name>
    <servlet-class>com.films.servlets.CreateRealisator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRealisator</servlet-name>
    <url-pattern>/Realisateur/CreateRealisator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFilm</display-name>
    <servlet-name>CreateFilm</servlet-name>
    <servlet-class>com.films.servlets.CreateFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFilm</servlet-name>
    <url-pattern>/Film/CreateFilm</url-pattern>
  </servlet-mapping>
</web-app>